{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<div class="container py-5">

<div class="row justify-content-center">

<div class="col-lg-7">

<div class="card shadow border-0 rounded-4">

<div class="card-body p-5">

<h3 class="fw-bold mb-4 text-center">

My Profile

</h3>

<form method="POST">

{% csrf_token %}

<div class="mb-3">

<label class="form-label">

Name

</label>

{{ form.first_name }}

</div>

<div class="mb-3">

<label class="form-label">

Username

</label>

<input
type="text"
class="form-control"
value="{{ request.user.username }}"
readonly>

</div>

<div class="mb-4">

<label class="form-label">

Email

</label>

<input
type="email"
class="form-control"
value="{{ request.user.email }}"
readonly>

</div>

<button
class="btn btn-primary w-100">

Save Name

</button>

</form>

<hr class="my-5">

<h4 class="fw-bold">

Change Password

</h4>

{% if request.session.password_verified %}

<form
method="POST"
action="{% url 'change_password' %}">

{% csrf_token %}

<div class="mb-3">
    <label class="form-label">New Password</label>
    {{ password_form.new_password1 }}
</div>

<div class="mb-3">
    <label class="form-label">Confirm Password</label>
    {{ password_form.new_password2 }}
</div>

<button
class="btn btn-success">

Update Password

</button>

</form>

{% else %}

<form
method="POST"
action="{% url 'send_password_otp' %}">

{% csrf_token %}

<button
class="btn btn-primary">

Send OTP

</button>

</form>

<hr>

<form
method="POST"
action="{% url 'verify_password_otp' %}">

{% csrf_token %}

<div class="mb-3">

<label>

Enter OTP

</label>

<input
type="text"
name="otp"
class="form-control"
maxlength="6"
required>

</div>

<button
class="btn btn-success">

Verify OTP

</button>

</form>

{% endif %}

</div>

</div>

</div>

</div>

</div>

{% endblock %}